img { 
    float: left;
    width:200px;

}
body{
    background-color:gainsboro;
}
body h1 {
    background-color: darkgray;
    text-align: center;
}
body p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
body p2 {
    font-family:'Times New Roman', Times, serif;
    font-size:larger;
    color:orange;
}